PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/zenshop?retryWrites=true&w=majority
JWT_SECRET=generatethiswithopensslrandbase6432
CRYPTO_SECRET=generatethiswithopensslrandbase6432
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=votre-email@gmail.com
SMTP_PASS=votre-mot-de-passe-d-application
IGNORE_DB_ERROR=false
